.btn {
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 5%;
    border:none;
    transition: 1s;
}

.btn:active { 
    border: 3px #d3d3d3 solid;
}

/* navigation-wrapper - center-column - Button Spark */

.links-wrapper > .btn-spark {
    background-color: transparent;
    border:none;
    outline: none;
    cursor: pointer;
    color: #b3b3b3;
    font-size: 1em;
}

#iconspark {
    margin-left: 20px
}

.links-wrapper > .btn-spark:active  {
    transform: scale(1.10);
}

.links-wrapper > .btn-spark:hover {
    border: 1px #f2f2f2 solid; 
    transition:2s;
}


/* navigation-wrapper - Right-Column - Buttom */

.right-column > .btn {
    font-size: 1.10em;
    background-color: #4d4d4d;
    color: white;
    margin-right: 2em;
    margin-top: 8px;
    height: 3em;
    width: 8em;
}

.right-column > .btn:nth-child(1){
    display: flex;
    justify-content: center;
    align-content: center;
} 

.right-column > .bntcreate {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* navigation-wrapper - Right-Column - Icon Button Create - */

#iconbox {
    color:#009900;
    font-size: 1.55em;
    margin-left: 10px;
}

/* navigation-wrapper - Right-Column - Icon Button Search*/

.right-column > .btn-icon {
    background-color: transparent;
    border:none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-right: 2em;
}

#search {
    color: #8c8c8c;
    transform: scale(2);
}

.btn-icon:active { 
    transform: scale(1.5);
}

.btn-icon:hover { 
    border: 1px #f2f2f2 solid; 
    transition:2s;
}


/* middle-container - right wrapper - Button Images */

.box > .btn1 , .btn2 {
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 1em;
}

.box > .btn1 { 
    background: #6fdc6f;
    color: black;
}

.box > .btn1:hover { 
    background-color: #99ff99;
}

.box > .btn2 {
    background: black;
    color: white;
}

.box > .btn2:hover { 
    background-color: grey;
}


/* Button - Footer - links */

.btnfooter {
    background-color: #333333;
    color: #d9d9d9; 
    border: 1px #808080 solid;
    border-radius: 1px;
    font-size: 1.10em;
    font-weight: bold;
    height: 60px;
}


.footer > .links > .btnfooter b {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.50em;
}

.links > .btnfooter:hover { 
    background-color: grey;
}

