@media (max-width: 615px) {

    
    /* navigation-wrapper */
    .navigation-wrapper {
        flex-direction: column;
        height: 100%;
        columns:100%;
    }
    .navigation-wrapper > .left-column {
        order: 1;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .navigation-wrapper > .center-column {
        order: 2;
        width: 100%;
    }

    .navigation-wrapper > .center-column> .nav-link {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .center-column > .links-wrapper > .nav-link {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1em;
        width: 100%;
    }

    .center-column > .links-wrapper > .btn-spark {
        flex-direction: column;
        margin-top: 5px;
        margin-bottom: 5px;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        font-size: 1em;
        width: 100%;
    }

    #iconspark {
        margin-left: 0.8px
    }

    .navigation-wrapper > .right-column  {
        order: 3;
        width: 40%;
        justify-content: center;
        align-items: center;
    }

    .navigation-wrapper > .right-column > .btn , .btn-icon {
        font-size: 1em;
        width: 100%;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    .navigation-wrapper > .right-column > .btn-icon {
        padding: 30px;
        height: 10px;
    }
   


    /* middle-container */

    .middle-container {
        width: 100%;
    }   
    
    .middle-container > .left-wrapper > .p1 , .p2 {
        margin-left: 10px;
        font-size: 1.10em;
        line-height: 1.20em;
    }

    .middle-container > .left-wrapper > .p2 {
        font-size: 1em;
        line-height: 1.20em;
    }

    .btn1 , .btn2 {
        font-size: 1em !important;
        padding: 20px !important;
        margin-left: 20px !important;
    }

    .btn2 {
        margin-top: 10px;
    }

    .middle-container > .rigth-wrapper {
        margin-left: 1em;
    }

    .middle-container > .rigth-wrapper > .website {
        height: 100%;
        width: 100%;
    }

    /* Footer */
    .footer {
        position: absolute; 
    }

    .btnfooter {
        font-size: 1em;
    }
    .footer > .links > .btnfooter b {
        font-size: 1em;
    }
}
