@media  (min-width: 716px) 
{
    html, body{
        height: 100%;
        width: 100%;
        margin: 0;
    }
    nav, .middle-container, footer{
        width: 100%;
        display: flex;
        position: relative;
    }
    
    nav{
        height: 12%;
        background-color: black;
        
    }
    .middle-container{
        height: 72%;
        background:-webkit-radial-gradient( #595959, #1a1a1a);
        color: #cbcbcb;
    }
    footer{
        height: 16%;
        background-color: #000d1a;
    }

      /* Footer */

    .links {
        width: 100%;
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
    }
  
}