/* Top Wrapper*/

.navigation-wrapper { 
    background-color: black;
    color: #cbcbcb;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 60px 60px;
}

/* Left Column - Top*/

.left-column img {
    width: 100px;
    height: 100%;
    
} 

/*Center Column - Top*/

.center-column {
    display: flex;
    flex-direction: column;

}

.iland {
    display: flex;
    align-content: space-between;
    
}

.nav-link {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.nav-link a {
    font-family: "Ubuntu Condensed", sans-serif;
    color: white;
    font-weight: 20000px; 
    text-decoration: none;
    transition: 0.2s;
}

.nav-link a:hover{
    letter-spacing: 2px;
}

.index-link {
    font-family: 'Lustria', serif;
    color: yellow;
    margin-right: 10px;
    text-transform: uppercase
}
.nav-spark {
    font-family: "Ubuntu Condensed", sans-serif;
    color: grey;
    font-weight: 900px; 
    font-size: 1em;
    text-decoration: none;
}





